* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Main content area styles */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* About Me section styles */
#about {
  text-align: left;
}

#about img {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 1rem auto;
}

#about p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-aloign: left;
}

/* Technical Interests section styles */
#technical-interests {
  text-align: center;
  margin-top: 2rem;
}

#technical-interests img {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
  border-radius: 10px;
}

#technical-interests h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#technical-interests p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 1rem;
}

/* Portfolio section styles */
#portfolio {
  text-align: left;
}

#portfolio h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#portfolio p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 1rem;
  
}

/* Contact section styles */
#contact {
  text-align: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#contact p {
  font-size: 1rem;
  line-height: 1.6;
}

#contact a {
  color: #333;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  margin-top: 2rem;
}
